@media(max-width:10000px){
body{
    background-color: blueviolet;
    color:white;
}
select{
    color:rgb(0, 0, 120);
    margin-bottom: 40px;
}
.menu-item{
    border:1px solid #ddd;
    padding:10px;
    text-align: center;
    display: inline-block;
    margin:20px;
    margin-top: 30px;
    flex-wrap: wrap;
    color:rgb(0, 0, 0);
    
}
}
